body {
    margin: 0;
}

.sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #ffcad4;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}
    
.side-title {
    padding: 8px 8px 8px 30px;
    font-size: 40px;
    display: block;
    transition: 0.5s;
}
  
#searchbar{
    margin-left: 15%;
    padding:15px;
    border-radius: 10px;
}

input[type=text] {
     width: 30%;
     -webkit-transition: width 0.15s ease-in-out;
     transition: width 0.15s ease-in-out;
}

/* When the input field gets focus,
change its width to 100% */
input[type=text]:focus {
    width: 70%;
}

#list{
   font-size:  1.5em;
   margin-left: 90px;
}

.animals{
  display: list-item;    
} 

.sidebar div {
    padding: 8px 8px 8px 30px;
    font-size: 24px;
    display: block;
    transition: 0.5s;
    cursor: pointer;
}
    
.sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
}

.sidebar .scrnbtn {
    position: absolute;
    top: 0;
    right: 60px;
    font-size: 36px;
}

.openbtn {
    font-size: 24px;
    cursor: pointer;
    background-color: white;
    overflow: hidden;
}

#main {
    transition: margin-left .5s;
}

.titlebar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    background-color: #ffe6d9;
    color: #fff;
}

.logo {
    font-size: 32px;
    color: black;
}