body {
    margin: 0;
    overflow: hidden;
}

.sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #ffcad4;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}
    
.side-title {
    padding: 8px 8px 8px 30px;
    font-size: 40px;
    display: block;
    transition: 0.5s;
}
  
#searchbar{
    margin-left: 15%;
    padding:15px;
    border-radius: 10px;
}

input[type=text] {
     width: 30%;
     -webkit-transition: width 0.15s ease-in-out;
     transition: width 0.15s ease-in-out;
}

/* When the input field gets focus,
change its width to 100% */
input[type=text]:focus {
    width: 70%;
}

#list{
   font-size:  1.5em;
   margin-left: 90px;
   list-style: none;
}

.music{
  display: list-item;    
} 

.sidebar div {
    padding: 8px 8px 8px 30px;
    font-size: 24px;
    display: block;
    transition: 0.5s;
    cursor: pointer;
}
    
.sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
}

.sidebar .scrnbtn {
    position: absolute;
    top: 0;
    right: 60px;
    font-size: 36px;
}

.openbtn {
    font-size: 24px;
    cursor: pointer;
    background-color: white;
    overflow: hidden;
}

#main {
    transition: margin-left .5s;
}

.titlebar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    background-color: #ffe6d9;
    color: #fff;
}

.logo {
    font-size: 32px;
    color: black;
}

.settings-btn {
    background-color: white;
    border: none;
    color: black;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 12px;
    width: 6em;
}

/* The Modal (background) */
.settings {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 25%;
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
  
/* Modal Content */
.settings-content {
    background-color: #ffe6d9;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 25%;
    color: black;
    border-radius: 12px;
}
  
/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
  
.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}