body {
    margin: 0;
}

.sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #ffcad4;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}
    
.side-title {
    padding: 8px 8px 8px 30px;
    font-size: 40px;
    display: block;
    transition: 0.5s;
}

#search {
    background-image: url('/css/searchicon.png');
    background-position: 10px 12px;
    background-repeat: no-repeat;
    width: 100%;
    font-size: 16px;
    padding: 12px 20px 12px 40px;
    border: 1px solid #ddd;
    margin-bottom: 12px;
}
  
#musicList {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
  
#musicList li a {
    border: 1px solid #ddd;
    margin-top: -1px; /* Prevent double borders */
    background-color: #f6f6f6;
    padding: 12px;
    text-decoration: none;
    font-size: 18px;
    color: black;
    display: block
}
  
#musicList li a:hover:not(.header) {
    background-color: #eee;
}

.sidebar div {
    padding: 8px 8px 8px 30px;
    font-size: 24px;
    display: block;
    transition: 0.5s;
    cursor: pointer;
}
    
.sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
}

.sidebar .scrnbtn {
    position: absolute;
    top: 0;
    right: 60px;
    font-size: 36px;
}

.openbtn {
    font-size: 24px;
    cursor: pointer;
    background-color: white;
    overflow: hidden;
}

#main {
    transition: margin-left .5s;
}

.titlebar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    background-color: #ffe6d9;
    color: #fff;
}

.logo {
    font-size: 32px;
    color: black;
}